<template>
  <div class="home">
    <hr>
    <ProductList />
    <hr>
    <AddProduct />
  </div>
</template>

<script setup>
import ProductList from '@/components/ProductList.vue'
import AddProduct from '@/components/AddProduct.vue'

</script>
