<template>
    <div class="add">
        <input type="text" v-model="storeProducts.product" placeholder="Watermelon">
        <button @click="handleInput">Добавить продукт</button>
    </div>
</template>

<script setup>
import { useProductsStore } from '@/stores/products'

const storeProducts = useProductsStore()

const handleInput = () => {
    storeProducts.addProduct()
}
</script>

<style scoped>
.add {
    margin-top: 5px;
    margin-bottom: 5px;
}
</style>
