<template>
    <div class="list">
        <ul>
            <li v-for="product in productsList" :key="product.id"> 
                <h4 :class="{ crossedOut: product.crossedOut }">{{ product.name }}</h4>
                <button v-if="product.crossedOut === false" class="deleteButton" @click="handleDelete(product)">Вычеркнуть</button>
            </li>
        </ul>
    </div>
</template>

<script setup>
import { useProductsStore } from '@/stores/products'
import { computed } from 'vue'

const storeProducts = useProductsStore()

const productsList = computed(() => {
  return storeProducts.products.sort((a, b) => a.crossedOut - b.crossedOut);
})

const handleDelete = (product) => {
    storeProducts.crossProduct(product)
}
</script>

<style scoped>
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.crossedOut {
  text-decoration: line-through;
}
.deleteButton {
    margin-top: 5px;
    margin-bottom: 5px;
}

</style>