<template>
  <div class="app">
    <nav>
      <RouterLink to="/">Список продуктов</RouterLink>
    </nav>
  
    <RouterView />
  </div>
</template>

<style scoped>
.app {
  text-align: center;
}
</style>
